.button {
  padding: 0.5rem 1rem;
  background-color: #4f005f;
  border: 1px solid #4f005f;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  cursor: pointer;
}

.button:hover {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}